$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #669999;
$font-color: #dfdfdf;
$white: #fff;

@keyframes test {
  0% {background-color: #669999;}
  25%{background-color: #33cc33}
  50% {background-color: 	#8950bd;}
  75%{background-color: #b82e2e}
  100% {background-color: 	#669999;}
}

body {
  background-color: $background-color;
  color: $font-color;
  animation-name: test;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font: helvetica;
}

.box {
  border: 1px solid rgba(255, 0, 0, .3);
  height: 200px;
  width: 200px;
  background-color: #FFFFF0;
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, .60);
  color: black;
  font-family: 'Give You Glory';
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: 'Give You Glory', cursive;
  color: #FFFFF0;
  size: 100px;
  padding: 25px;
}

.games-ui {
    width: 200px;
    height: 100px;
    background-color: #FFFFF0;
    float: left;
    clear: both;
    border: 5px solid black;
    color: black;
    display: none;
    font-family: arial;
    padding: 20px;
    border: 1px solid rgba(255, 0, 0, .3);
    background: rgba(255, 255, 255, .60);
}
#change-password {
  display: none;
}
#sign-out {
  display: none;
}
#create-game {
  display: none;
}
#show-games {
  display: none;
}
#who-won {
  float: right;
  font-family: 'Give You Glory', cursive;
  font-size: 50px;

}
.events {
  padding: 30px;
  font-size: 15px;
  opacity: 0.75;
  color: black;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

legend {
  animation-name: slidein;
  animation-duration: 1s;
  color: black;
  font-size: 20px;
  padding: 5px;
  font-family: 'Give You Glory', cursive;
  font-weight: bold;
}
input {
  color: black;
}


// .container {
//   display: block;
//   float: none;
//   margin-left: auto;
//   margin-right: auto;
// }
