$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #669999;
$font-color: #dfdfdf;
$white: #fff;

@keyframes test {
  0% {background-color: #669999;}
  25%{background-color: #33cc33}
  50% {background-color: 	#8950bd;}
  75%{background-color: #b82e2e}
  100% {background-color: 	#669999;}
}

body {
  background-color: $background-color;
  color: $font-color;
  animation-name: test;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font: helvetica;
}

.box {
  border: 5px solid black;
  height: 200px;
  width: 200px;
  background-color: #FFFFF0;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: 'Give You Glory', cursive;
  color: #FFFFF0;
  size: 100px;
}

.games-ui {
    overflow-y: scroll;
    width: 200px;
    height: 100px;
    background-color: #FFFFF0;
    float: left;
    clear: both;
    border: 5px solid black;
    color: black;
    display: none;
}
#change-password {
  display: none;
}
#sign-out {
  display: none;
}
#create-game {
  display: none;
}
#show-games {
  display: none;
}
#who-won {
  float: right;

}


// .container {
//   display: block;
//   float: none;
//   margin-left: auto;
//   margin-right: auto;
// }
