$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
  height: 200px;
  width: 200px;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.ScrollStyle {
    max-height: 150px;
    overflow-y: scroll;
    max-width: 200px;
}

// .container {
//   display: block;
//   float: none;
//   margin-left: auto;
//   margin-right: auto;
// }
